<!-- templates/login.html -->
{% extends "base.html" %}

{% block content %}
<title>Login</title>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
            <form action="login/" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>  
                </div> 
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required> 
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}